 
 *{
       font-family:  "Roboto", sans-serif;;


 }
 
 .top-outer{


   width: 100%;
   height: 45px;
   background-color: rgba(52, 73, 94,0.2);
   
 


 }


 .top-inner{


    height: 100%;
    display: flex;
 }
 
 .top-element{


     border: inherit;
     flex: 1;
    


 }


.top-left>ul{


 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100%;
 


}

.top-left >ul >li{

    color: white;
    font-size: 15px;


}


.top-left > ul > li> span:hover {

   cursor: pointer;
   color: rgb(128, 142, 155);

}

.top-right{

    display: flex;
}


.top-right > ul {

    display:flex;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;


}

.top-right>ul>li{

    padding: 8px;

}

.top-right>ul>li:hover{

   cursor: pointer;
   

}

.nav-outer{

    width: 100%;
    height: 70px;
    background-color: rgb(128, 142, 155,0.2);
}

.slider{

    width: 100%;
    height:100vh ;
    overflow: hidden;
    position: relative;
    top: -115px;
    z-index: -1;

}

.slid{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    left: 0;
   
}


.slid.active{


     opacity: 1;


}

.box-outer{

  width: 550px;
  height: 450px;
  border: 1px solid red;
  position: absolute;
  top: 0;
  margin: 170px 170px;



}

.one>p{
  
 text-transform: uppercase;
 font-weight: 700px;
 color: white;


}
.heading-para h1{


 text-transform: uppercase;
 color: white;
 font-weight: 800px;


}

.solution-main-outer{


 width: 100%;
 height: auto;
 border: 1px solid red;
 background-color: rgb(26, 26, 26);
 opacity: 0.9;
}

.inner-wrap{
    height: 275px;
    border: 1px solid red;
    position: relative;
    margin-bottom: 20px;

   
}

.inner{
 
   
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    background-color: rgba(72, 84, 96,1.0);
    border: 1px solid red;

    

   
}
.inner:hover{

    background-color: rgb(255, 211, 42);
}

.inner-wrap-elements{

    flex: 1;
    color: white;
    display: flex;

}


.inner>.inner-wrap-elements:first-child{

   justify-content: flex-end;

}

.moveable-element{

 width: 40px;
 height: 40px;
 border: 1px solid yellow;
 border-radius: 100%;
 background-color: rgb(30, 39, 46);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
  position: absolute;
  bottom: -20px;
  right: 120px;


 



}

.inner:hover .moveable-element{

 transform: translateX(50px);
 transition: all 1s;






}


@media(max-width:1000px){


 .top-outer{

    display: none;
 }


}