 
 *{
       font-family:  "Roboto", sans-serif;;


 }
 
 .top-outer{


   width: 100%;
   height: 45px;
   background-color: rgba(52, 73, 94,0.2);
   
 


 }


 .top-inner{


    height: 100%;
    display: flex;
 }
 
 .top-element{


     border: inherit;
     flex: 1;
    


 }


.top-left>ul{


 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100%;
 


}

.top-left >ul >li{

    color: white;
    font-size: 15px;


}


.top-left > ul > li> span:hover {

   cursor: pointer;
   color: rgb(128, 142, 155);

}

.top-right{

    display: flex;
}


.top-right > ul {

    display:flex;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;


}

.top-right>ul>li{

    padding: 8px;

}

.top-right>ul>li:hover{

   cursor: pointer;
   

}

.nav-outer{

    width: 100%;
    height: 70px;
    background-color: rgb(128, 142, 155,0.2);
}

.slider{

    width: 100%;
    height:100vh ;
    overflow: hidden;
    position: relative;
    top: -115px;
    z-index: -1;

}

.slid{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    left: 0;
   
}


.slid.active{


     opacity: 1;


}

